

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.moreBtn{
    margin-top: 20px;
    background: red;
    padding: 10px 10px;
    width: 100px;
    border-radius: 5px;
    color: aliceblue;
}

